/*css reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}/*css reset*/

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
body {
	min-width: 750px;
}
.content-image {
    margin-top: -214px;
    margin-left: 324px;
	display: block;
    width: 384px;
    height: 595px;
	background-image: url("../img/dog_image.png");
	background-position: -11px 0px;
}
.header {
	height: 83px;
	background-image: url(../img/header_background.png);
}
.header-inner:after {
	content: "";
	width: 750px;
	height: 683px;
	display: block;
	position: relative;
	top: -294px;
	left: -28px;
	background-image: url(../img/paw_background.png);
	background-repeat: no-repeat;
	z-index: -1;
}
.inner {
	width: 750px;
	margin: 0 auto;
	padding-left: 10px;
	padding-right: 10px;
}
.menu {
	padding-top: 45px;
	z-index: 2;
}
.menu-item {
	margin-left: 20px;
	display: inline-block;
	height: 26px;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
}
.menu-item {
	text-decoration: none;
	color: black;
}
.item-blue {
	padding-left: 11px;
	padding-right: 11px;
	border-bottom: 10px solid #14aef4;
}
.item-yellow{
	padding-left: 9px;
	padding-right: 9px;
	border-bottom: 10px solid #febf24;
}
.item-green{
	border-bottom: 10px solid #89c734;
}
.item-red{
	padding-left: 13px;
	padding-right: 13px;
	border-bottom: 10px solid #ef141c;
}
.item-purple{
	border-bottom: 10px solid #832878;
}
.item-blue:hover {
	text-shadow: 1px 1px 2px black, 0 0 1em blue;
	color: white;
	border-bottom: 10px solid #14aef4;
	opacity: 0.5;
}
.item-blue:hover a{
	color: white;
}

.item-yellow:hover {
	text-shadow: 1px 1px 2px black, 0 0 1em blue;
	color: white;
	border-bottom: 10px solid #febf24;
	opacity: 0.5;
}
.item-yellow:hover a{
	color: white;
}
.item-green:hover {
	text-shadow: 1px 1px 2px black, 0 0 1em blue;
	color: white;
	border-bottom: 10px solid #89c734;
	opacity: 0.5;
}
.item-green:hover a{
	color: white;
}
.item-red:hover {
	text-shadow: 1px 1px 2px black, 0 0 1em blue;
	color: white;
	border-bottom: 10px solid #ef141c;
	opacity: 0.5;
}
.item-red:hover a{
	color: white;
}
.item-purple:hover {
	text-shadow: 1px 1px 2px black, 0 0 1em blue;
	color: white;
	border-bottom: 10px solid #832878;
	opacity: 0.5;
}
.item-purple:hover a{
	color: white;
}
.logo {
	padding-top: 62px;
	padding-left: 50px;
}
.article-text-bold {
	font-weight: bold;
	color: black;
}
.content-item {
	position: relative;
	

}
.content-item-green {
	background-color: rgba(177,222,55,0.9);
}
.content-item:nth-child(1) {
	margin-top: -297px;
	border-radius: 43px;
	box-shadow: 0 12px rgba(255,255,255,0.5);
	z-index: 4;
}
.content-col {
	display: inline-block;
	width: 42%;
	padding-top: 16px;
	padding-left: 19px;
	vertical-align:top;
}
.content-item-blue .content-col:nth-child(1) {
	width: 44%;
	padding-top: 60px;
}
.content-item-blue .content-col:nth-child(2) {
	margin-left: 10px;
	width: 44%;
	padding-top: 60px;
}
.article-img {
	padding-left: 20px;
	width: 116px;
	float: left;
}
.article-info {
	overflow: hidden;
	padding-left: 10px;
	font-size: 10px;
	line-height: 1.5;
}
.article-title {
	margin-top: 25px;
	margin-right: 114px;
	display: inline;
	width: 60px;
	font-size: 16px;
	font-family: 'Comic Sans', cursive;
	font-weight: bold;
	color: white;
}
.content-item-blue {
	background-color: rgba(84,177,210,0.9);
}
.content-item:nth-child(2) {
	margin-top: -35px;
	padding-left: 55px;
	padding-bottom: 30px;
	border-radius: 60px;
	z-index: 0;
}

.content-title {
	padding-bottom: 20px;
	font-size: 23px;
	color: white;
}
.content-text {
	font-size: 10px;
	color: black;
}
.item-b-info {
	height: 82px;
	width: 260px;
	margin-bottom: 13px;
}
.item-b-img {
	float: left;
}
.item-b-content {
	float: right;
	width: 170px;
	height: 70px;
	overflow: hidden;
	font-size: 10px;
	line-height: 1.6;
	color: white;
	text-decoration: none;
}
.item-b-content-link {
	display: block;
	text-decoration: none;
	color: white;
}
.item-b-list {
	margin-top: 10px;
	padding-left: 10px;
}
.b-list {
	font-size: 14px;
	line-height: 1.8;
}
.b-list-link {
	text-decoration: none;
	color: white;
}
.b-list-arrow {
	margin-top: 5px;
	margin-right: 3px;
	padding-left: 4px;
	padding-right: 4px;
	border: 1px solid #188ef8;
	border-radius: 4px;
	background-image: -moz-linear-gradient(top, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 36%, rgba(33,180,226,1) 51%, rgba(33,180,226,1) 100%)-moz-linear-gradient(top, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 33%, rgba(33,180,226,1) 46%, rgba(32,124,229,1) 100%);
	background: rgba(183,222,237,1);
    background: -moz-linear-gradient(top, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 33%, rgba(33,180,226,1) 46%, rgba(32,124,229,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(183,222,237,1)), color-stop(33%, rgba(113,206,239,1)), color-stop(46%, rgba(33,180,226,1)), color-stop(100%, rgba(32,124,229,1)));
    background: -webkit-linear-gradient(top, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 33%, rgba(33,180,226,1) 46%, rgba(32,124,229,1) 100%);
    background: -o-linear-gradient(top, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 33%, rgba(33,180,226,1) 46%, rgba(32,124,229,1) 100%);
    background: -ms-linear-gradient(top, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 33%, rgba(33,180,226,1) 46%, rgba(32,124,229,1) 100%);
    background: linear-gradient(to bottom, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 33%, rgba(33,180,226,1) 46%, rgba(32,124,229,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7deed', endColorstr='#207ce5', GradientType=0 );
	font-size: 13px;
	font-weight: bold;
}
.content-info {                               
	width: 270px;
	padding-right: 10px;
	line-height: 1.6;
	color: white;
	overflow: hidden;
}
.info-title {
	padding-top: 20px;
	color: black;
	font-size: 11px;
	font-weight: bold;
}
.info-text {
	margin-top: 10px;
	font-size: 10px;
}
.article-link-wrap {
	margin-left: -8px;
	text-align: left;
}
.article-link {
	display: inline-block;
	white-space: nowrap;
	text-decoration: none;
	font-weight: bold;
	text-decoration: none;
	font-size: 13px;
	color: white;
}
.article-link:before {
	content:'';
	display: inline-block;
	vertical-align: middle;
	background: url(../img/paw_icon.png) 0 0 no-repeat;
	width: 28px;
	height: 28px;
}
.link-info {
	margin-left: 162px;
}
.footer-content {
	padding-top: 10px;
	padding-bottom: 20px;
	text-align: center;
}
